


<br />
<br />

<form method="post">

<div>
    <label>İşçinin Adı Soyadı :  </label>
    <input type="text" name="iscininAdi" />
    <input type="text" name="iscininSoyadi" />
</div>
<div> 
    <buton type="buton">İşçi Ekle</buton>
</div>


</form>